* {
    margin:0;
    padding:0;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    background-color: #709791;
}

/* Css Header */

.links {
    display: none;
}

.logo-site {
    width:100%; 
}

.img-destination {
    width:25%;
}

.img-avis {
    width:25%;
}

.img-devis {
    width:25%;
}

.mobile li:nth-of-type(1){
    margin-right: 10% ;
}

.mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;   
}

li {
    width:25%;
}





/* fin css header */
/* css main */
/* fin css main */
/* css footer */
footer {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.logo {
    width:25px;
}

.horaire {
    font-size:15px;
    font-family: "Poppins-Bold";
}

.info {
    font-size:15px;
    font-family: "Poppins-Regular";
    margin:5%;
}

.ml {
    font-size:15px;
    font-family: "Poppins-Regular";
}

/* fin css footer */
@media screen and (min-width: 767px) {

    header {
        font-family: "Poppins-Regular";
    }

    .links {
        font-size: 25px;
        display: flex;
        align-items: center;
        list-style: none;
    }

    li {
        width:25%;
    }

    .mobile {
        display: none;
    }

    a {
        text-decoration: none;
    }

    .logo-site2 {
        width: 100%;
    }
}