/* début css mobile */
* {
    margin:0;
    padding:0;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

body {
    background-color: #709791;
}

/* Css Header */
nav {
    background-color: #0C5555;
}

.links {
    display: none;
}

.logo-site {
    width:100%; 
}

.img-destination {
    width:25%;
}

.img-avis {
    width:25%;
}

.img-devis {
    width:25%;
}

.mobile li:nth-of-type(1){
    margin-right: 10% ;
}

.mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

li {
    width:25%;
}

/* fin css header */
/* css main */
/* fin css main */
/* css footer */
footer {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: #0C5555;
    color: white;
}
.logo {
    width:45px;
    border-radius: 50%;
}

.horaire {
    font-size:15px;
    font-family: "Poppins-Bold";
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items: center;
    width: 100%;
}

.info {
    font-size:15px;
    font-family: "Poppins-Regular";
    margin:5%;
}

.info a {
    color: white;
    text-decoration: none;
}

.ml {
    font-size:9px;
    font-family: "Poppins-Bold";
}

.ml a {
    text-decoration: none;
    color: #F8F4E9;
}

div.media {
    width: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

/* fin css footer */
/* fin css mobile */
/* début css ordi */
@media screen and (min-width: 767px) {

    header {
        font-family: "Poppins-Regular";
    }

    .links {
        font-size: 25px;
        display: flex;
        align-items: center;
        list-style: none;
    }

    .links a {
        color: #F8F4E9;
    }
    li {
        width:25%;
    }

    .mobile {
        display: none;
    }

    a {
        text-decoration: none;
    }

    .horaire {
        font-size: 30px;
        font-family: "Poppins-Bold";
    }

    .info {
        font-size: 20px;
        font-family: "Poppins-Regular";
    }

    .logo-site2 {
        width: 100%;
    }

    .logo {
        width: 65px;
    }
    
    div.media {
        width: 50vh;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .ml {
        font-size: 15px;
    }
}

/* Fin css ordi */