/* Css Header */
/* fin css header */
/* css main */
  .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;    
    gap: 20px;
  }
  
  .card {
    background-color: #F8F4E9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
  }

  .card:hover {
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
    border: 2px solid #462c09;

  }
  
  .card img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  .card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card p {
    font-size: 1em;
    color: #555;
  }
  
  .destination {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F8F4E9;
  }



/* styles.css */
  
  
  /* Section Style */
  .temoignages {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .temoignagescard {
    background-color: #fefef6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 400px;
  }
  
  .temoignagescard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .temoignagescard>img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .name {
    font-size: 1em;
    font-weight: normal;
    color: #555;
  }
  

  .star {
    width: 50%;
    height: 50%;
  }
  
  .description {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.5;
  }
  

  .date {
    font-size: 0.9em;
    color: #aaa;
    text-align: right;
    margin-top: 10px;
    align-self: flex-end;
  }

  .etoile {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .destination {
    color: #333;
  }
  
  @media (min-width: 767px) {
    .temoignagescard {
      width: 93vw;
      flex-direction: row;
      height: 300 px;
    }


    .info {
      display: flex;
      flex-direction: column;
      margin-left: 5%;
    }

    .star {
      width: 5%;
      height: 5%;
    }

    .etoile {
      justify-content: start;
    }

    .destination {
      justify-content: start;
      margin: 0;
      font-size: larger;
    }

    .temoignagescard>img {
      width: 200px;
      height: 175px;
    }

    .description {
      text-align: start;
      padding-top: 5%;

    }
  }
  
/* fin css main */
/* css footer */
/* fin css footer */